doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Tarra'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Chimora'}"
    == stylesheet_link_tag "application", media: 'all'
    == stylesheet_link_tag "chimora", media: 'all'
    == stylesheet_link_tag("#{request.subdomain}", media: 'all') if request.subdomain.present?
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags
  body
    header
      == render 'layouts/navigation'
    main[role="main"]
      .container
        == render 'layouts/messages'
        == yield
