h1 Default About
.post.panel.panel-default
  .panel-body
    p The planet Endor, named so for the planet's properties, is an ice planet in a vast solar system with twenty-five other planets.

    p Endor is about 1.0 times bigger than Earth and its gravity is about 1.08 times that of Earth.

    p A single day lasts 20.56 hours and a year lasts 227 days. The planet is made up of 8 continents, which make up 45% of the planet's landmass.

    p 5 moons orbit the planet and Endor itself orbits an orange sun in a wide, elliptic orbit.

    p With conditions as extreme as these, the chances of sustaining life on this planet are virtually none-existent. Even if the planet has calmed down after millions of years, it would probably still take terra forming to introduce any form of life.
