h1 Default Contacts
.post.panel.panel-default
  .panel-body
    p The planet Qo'noS, which is a name which is still disputed, is a desert planet in a huge solar system filled with twenty-two other planets.

    p Qo'noS is about 24.5 times bigger than Earth and its gravity is about 6.49 times that of Earth.

    p A single day lasts 26.82 hours and a year lasts 374 days. The planet is made up of 0 continents, which make up 0% of the planet's landmass.

    p 5 moons orbit the planet and Qo'noS itself orbits a blue sun in an almost perfectly circular orbit.

    p The plant-like organisms on this planet are exclusively different types of flowers. They come in all shapes and sizes, some are small and single stemmed, like you'd expect to find on Earth. But others are more like bushes, shrubs and even trees.

    p When nutrients are scarce, many organisms have methods of storing those nutrients for times of need. Some have become so specialized in this they can go for very long times without the need of additonal food, to then stock up when nutrients are available. However, some species on this planet didn't develop such methods. Instead, they simply take what they need, whenever they need it, from wherever they can. If nutrients aren't available in the ground, it will take them from others, including its own kind. This has occasionally lead to the survival of this species, but the downfall of another.

    p While the surface may have gorgeous forests of amazing organisms, the underwater world also has its fair share of forests. Mostly in the form of long, grass-like waterplants, but there are few dozens places on this planet where actual underwater forests grow. The species in these forests aren't actual trees, but they work in similar ways. Roots keep them in place, while a trunk helps carry the nutrients to every part of its body. At the top, branch-like tentacles grow to feed on micro-organisms near the surface. These tentacles often reach above the surface, giving the water a mysterious and eerie look.

    p The intelligent lifeforms on this planet are comparable to the humans of the bronze age, except that they are already more inclined to try to explain the mysteries of their world. Unfortunately they are quite violent, so they tend to live in smaller communities which they will protect at all costs. There are no signs of teamwork between the different communities, which would've been of benefit to them. This could lead to interesting developments in language and customs, but only time will tell how this will turn out.
