h1 Welcome to Tarra project
.post.panel.panel-default
  .panel-body
    p This is an example project to show how Rails work with template inheritance

    p Check following subdomains
    ul
      li= link_to 'Catelax', root_url(subdomain: 'catelax')
      li= link_to 'Chimora', root_url(subdomain: 'chimora')
