h1 About Catelax
.post.panel.panel-default
  .panel-body
  p Engineered on the highest point of a valley, the crossroad of Pernrith is home to giants lead by Ruler Gedman.

  p This crossroad wasn't built by a valley by accident, as it has healing properties, which is of great importance to the people of Pernrith and its success.

  p The crossroad itself looks crude. With its rusted rooftops, worn limestone walls and murky woods, Pernrith has a unearthly atmosphere.

  p The main attraction is the stables, which was built 28 years ago and designed by humans.

  p Pernrith has a feeble economy, which is mainly supported by woodcrafting, animal training and carpenting. But their biggest strengths are rare animal training and weaponsmithing.

  p However, Pernrith lacks people skilled in engineering.

  p Despite its strengths and weaknesses, Pernrith is most likely headed towards a horrible future under the leadership of Ruler Gedman. But this remains to be seen.
