h1 Contact Catelax
.post.panel.panel-default
  .panel-body
    p Designed on the Northern side of a covert, the village of Haran is home to pirates lead by Captain Massey.

    p This village wasn't built by a covert by accident, as it has spiritual significance, which is of great importance to the people of Haran and its success.

    p The village itself looks rough. With its gloomy wooden rooftops, faded marble walls and musky swamps, Haran has a bleak atmosphere.

    p The main attraction is the ancient forge, which was built 28 years ago and designed by barbarians.

    p Haran has a prosperous economy, which is mainly supported by mining, woodcrafting and alchemy. But their biggest strengths are ancient wine brewing techniques and rare animal breeding.

    p However, Haran lacks people skilled in leatherworking.

    p Despite its strengths and weaknesses, Haran is most likely headed towards a cheerful future under the leadership of Captain Massey. But this remains to be seen.
